{% extends 'base.html' %}

{% block title %}Fermer caisse{% endblock %}

{% block content %}
<h1 class="h1">Fermer la caisse</h1>

<div class="card">
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <div class="actions">
            <button class="btn btn--danger" type="submit">Fermer</button>
            <a class="btn" href="{% url 'payments:dashboard_caisse' %}">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
